---
layout: base.njk
permalink: /thanks/
title: Заявка принята
noindex: true
---
<section class="section">
  <div class="container container--narrow prose">
    <h1>{{ site.form.successTitle }}</h1>
    <p>{{ site.form.successText }}</p>
    <p><a class="btn btn--primary" href="/">Вернуться на главную</a></p>
  </div>
</section>
