<section class="promo" id="promo" aria-labelledby="promo-title">
  <div class="container promo__inner">
    <div>
      <h2 id="promo-title">{{ site.promo.title }}</h2>
      <p>{{ site.promo.text }}</p>
    </div>
    <a class="btn btn--light" href="#form">{{ site.promo.cta }}</a>
  </div>
</section>
